fastapi
uvicorn
langchain
langgraph
langchain-openai
chromadb
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
python-multipart
pymupdf
pytesseract
pillow
pytest
httpx
openai
langchain_community 
langchain_core 
langchain_openai
langchain-google-genai 
langchain_mongodb
langchain-text-splitters